################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/visualc/mbedtls_trial/.vs/mbedtls_trial/v16
/visualc/mbedtls_trial/x64/Debug
/visualc/mbedtls_trial/x64/Release/mbedtls_trial.tlog
/visualc/mbedtls_trial/x64/Release
/visualc/mbedtls_trial/.vs
/visualc/mbedtls_trial/Debug
/visualc/mbedtls_trial/Release
